<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chinamall21.mobile.study">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.chinamall21.mobile.study.okhttp.MyGlideModule"
            android:value="GlideModule">

        </meta-data>
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".ListViewActivity">

        </activity>

        <activity android:name=".RVActivity">

        </activity>

        <activity android:name=".TextNumberActivity">

        </activity>

        <activity android:name=".RActivity">

        </activity>

        <activity android:name=".TestActivity">

        </activity>

        <activity android:name=".SizeActivity">

        </activity>

        <activity android:name=".CoordinatorActivity">

        </activity>

        <activity android:name=".StudyActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".OneActivity">

        </activity>

        <activity android:name=".TwoActivity">

        </activity>
        <activity android:name=".ThreeActivity">

        </activity>

    </application>

</manifest>